// Font Weight
$font-weight-medium: 500;
$font-weight-semibold: 600;

// Color system
$primary: #0095ff;
$secondary: #fcb64d;
$white: #fff;
$grey: #8e8d92;
$dark: #172b4d;
$black: #000;

$dark-bg: #20252d;
