//
// _helper.scss
//

.font-size-12 {
  font-size: 12px !important;
}

.font-size-15 {
  font-size: 14px !important;
}

.font-size-18 {
  font-size: 18px !important;
}

.font-size-22 {
  font-size: 22px !important;
}

.font-size-28 {
  font-size: 28px !important;
}

.font-size-32{
  font-size: 32px !important;
}

// Font weight help class

.font-weight-medium {
  font-weight: 400;
}

.font-weight-semibold {
  font-weight: 500;
}


.font-weight-bold {
  font-weight: 600;
}

.font-weight-black {
  font-weight: 700;
}

.cursor-pointer {
  cursor: pointer;
}
